---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
	<section class="flow" aria-labelledby="title">
		<h2 id="title">section title</h2>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique iusto corrupti repellat possimus quidem. Aspernatur culpa a doloribus odit magni reprehenderit nostrum debitis officia voluptas nobis nihil eligendi, sit provident.
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique iusto corrupti repellat possimus quidem. Aspernatur culpa a doloribus odit magni reprehenderit nostrum debitis officia voluptas nobis nihil eligendi, sit provident.
		</p>
	</section>
	<section class="flow" aria-labelledby="section">
		<h2 id="section">section title</h2>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique iusto corrupti repellat possimus quidem. Aspernatur culpa a doloribus odit magni reprehenderit nostrum debitis officia voluptas nobis nihil eligendi, sit provident.
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique iusto corrupti repellat possimus quidem. Aspernatur culpa a doloribus odit magni reprehenderit nostrum debitis officia voluptas nobis nihil eligendi, sit provident.
		</p>
	</section>
</BaseLayout>
